body{
    display: grid;
    margin:0;
    grid-template-areas: "header header header header"
                        "section section section section"
                        "footer footer footer footer";
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-columns: 25vw 25vw 20vw 30vw;
    background-color:#aa0505;
    color: #fbca03;
}
.menu-hamburguer{
    display: none;
   
}

header{grid-area: header;
    background-color:#aa0505;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px 20px;
}
img{
    width: 50px;
    
}
nav a{
    text-decoration: none;
    color: #fbca03;
     
}
section{grid-area: section;
    background-image: url('images/vingadores.jpg');
    display: flex;
}

footer{grid-area: footer;
  }
h1{
    color: black;
    font-size: 50px;
    justify-content: center;
    display: flex;
}
div{
    margin: 34px;
    font-size: 22px;
}::-webkit-scrollbar {
    width: 0px;
}
@media(max-width: 700px){
    /* nav{
        

    } */
    nav{position: absolute;
        right: 0;
        top: 70px;
        width: 100%;
        text-align: right;
    }
    nav a{
        display: block;
        padding: 5px 20px;
    }
    .menu-hamburguer{
        display: block;
        right: 0;
    }
}